<p style="color: green"><%= notice %></p>

<h1>Pieces</h1>

<div id="pieces">
  <% @pieces.each do |piece| %>
    <ul role="list" class="divide-y divide-gray-100">
      <%= render piece, show: true %>
    </ul>
  <% end %>
</div>

<%= link_to "New piece", new_piece_path %>
